<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Taller Feliz :D</title>
</head>
<body class="bg-zinc-700">
    <!-- Barra de navegación -->
    <div class="px-4 mx-auto xl:container">
        <section class="flex justify-end">
          <nav>
            <ul class="flex">
              <li><a class="mx-8 bg-cyan-100" href="/">Inicio</a></li>
              <li><a class="mx-8 bg-cyan-100" href="/about">Acerca de</a></li>
              <li><a class="mx-8 bg-cyan-100" href="/contact">Contacto</a></li>
            </ul>
          </nav>
        </section>
        <article>
          <div class="container md:flex">
            <main class="px-4 mb-6 flex-grow">
              <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa sed quas non voluptates labore commodi eos neque dicta cupiditate, ipsam libero, beatae vel suscipit nihil nemo cumque magnam similique doloremque?</p>
              <p class="mb-4">Nesciunt magnam excepturi tenetur eum magni mollitia amet at neque. Minima placeat maiores laudantium quisquam molestiae corporis et possimus iusto suscipit illum?</p>
            </main>
          </div>
        </article>
        <aside class="px-4 md:flex-none md:w-64">
          <div class="px-4 py-2 mb-2 bg-red-300">Titulo de aside</div>
          <p>Este es el aside</p>
        </aside>
    </div>  
</body>
</html>