<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-700 flex items-center justify-center min-h-screen">
    <div class="flex flex-col items-center">
        {% for character in characters %}
        <div class="bg-white w-80 rounded-lg p-8 shadow-md mb-4">
            <h2 class="font-bold text-black text-2xl mb-4">Nombre: {{character['name']}}</h2>
            <h3 class="font-semibold text-black text-lg mb-4">Estado: {{character['status']}}</h3>
            <h3 class="font-semibold text-black text-lg mb-4">Especie: {{character['species']}}</h3>
            <img src="{{character['image']}}" alt="{{character['name']}} photo"
                class="w-full h-48 object-cover mb-4">
        </div>
        {% endfor %}
        <div class="flex justify-center">
            {% if prev_page %}
            <button class="rounded bg-blue-500 hover:bg-blue-600 mr-2"><a href="/characters/{{prev_page}}">Anterior</a></button>
            {% endif %}
            <button class="rounded bg-blue-500 hover:bg-blue-600"><a href="/characters/{{next_page}}">Siguiente</a></button>
        </div>
    </div>
</body>



</html>
